In [1]:
conda install -c conda-forge gmaps

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [2]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-10-10 17:02:25,-53.1500,-70.9167,51.12,40,41,26.08
1,1,Luau,AO,2021-10-10 17:02:26,-10.7073,22.2247,87.24,23,62,2.26
2,2,Hermanus,ZA,2021-10-10 17:02:26,-34.4187,19.2345,64.65,64,96,3.13
3,3,Saint George,US,2021-10-10 17:02:26,37.1041,-113.5841,65.43,46,1,1.99
4,4,Bredasdorp,ZA,2021-10-10 17:02:27,-34.5322,20.0403,57.72,84,82,6.26

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudy
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent windy
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Luau,AO,2021-10-10 17:02:26,-10.7073,22.2247,87.24,23,62,2.26
6,6,Hilo,US,2021-10-10 17:02:27,19.7297,-155.0900,75.27,96,75,1.99
15,15,Bandrele,YT,2021-10-10 17:02:30,-12.9067,45.1914,78.55,78,0,6.91
21,21,Toledo,ES,2021-10-10 17:02:33,39.8333,-4.0000,77.11,42,88,6.71
28,28,Maragogi,BR,2021-10-10 17:02:35,-9.0122,-35.2225,82.63,59,91,8.34
30,30,Atuona,PF,2021-10-10 17:02:36,-9.8000,-139.0333,77.99,72,5,17.02
36,36,Kapaa,US,2021-10-10 17:02:38,22.0752,-159.3190,75.18,73,28,4.00
38,38,Banda Aceh,ID,2021-10-10 17:02:39,5.5577,95.3222,80.06,82,90,15.55
44,44,Agadir,MA,2021-10-10 17:00:10,30.4202,-9.5982,75.65,62,99,6.60
52,52,Caravelas,BR,2021-10-10 17:02:44,-17.7125,-39.2481,76.05,75,100,7.96

In [13]:
preferred_cities_df.count()

City_ID       170
City          170
Country       169
Date          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

          City Country  Max Temp      Lat       Lng Hotel Name
1         Luau      AO     87.24 -10.7073   22.2247
6         Hilo      US     75.27  19.7297 -155.0900
15    Bandrele      YT     78.55 -12.9067   45.1914
21      Toledo      ES     77.11  39.8333   -4.0000
28    Maragogi      BR     82.63  -9.0122  -35.2225
30      Atuona      PF     77.99  -9.8000 -139.0333
36       Kapaa      US     75.18  22.0752 -159.3190
38  Banda Aceh      ID     80.06   5.5577   95.3222
44      Agadir      MA     75.65  30.4202   -9.5982
52   Caravelas      BR     76.05 -17.7125  -39.2481

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Luau,AO,87.24,-10.7073,22.2247,Casa- Bernardo Cândido
6,Hilo,US,75.27,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Bandrele,YT,78.55,-12.9067,45.1914,Les Baobabs
21,Toledo,ES,77.11,39.8333,-4.0000,Hotel Carlos V Toledo
28,Maragogi,BR,82.63,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
30,Atuona,PF,77.99,-9.8000,-139.0333,Villa Enata
36,Kapaa,US,75.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
38,Banda Aceh,ID,80.06,5.5577,95.3222,Sulthan Hotel International
44,Agadir,MA,75.65,30.4202,-9.5982,Iberostar Founty Beach
52,Caravelas,BR,76.05,-17.7125,-39.2481,Pousada dos Navegantes

In [17]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# Add info box to marker layer
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [23]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [25]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))